.wrapper_ab {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.first_content_ab {
  height: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-evenly;
}

.logo_container_ab {
  width: 12rem;
}

.text_container_ab {
  color: $green_main;
  font-size: 1.8rem;
  text-align: center;

  span {
    color: $white_main;
    font-weight: bold;
  }
}

.nossa_link_ab {
  color: $blue_main;
  margin-top: 1rem;
}

.btn_accept_ab {
  background-color: $white_main;
  color: $blue_main;
  font-size: 1.4rem;
  border-radius: 0.8rem;
  font-weight: 600;
  padding: 0.6rem 1.2rem;
  border: none;
  cursor: pointer;
}

.description_ab {
  color: $white_main;
}

@media (min-width: 1080px) {
  .wrapper_ab {
    width: 100%;
    flex-direction: row;
  }

  .first_content_ab {
    width: 50%;

    .logo_container_ab {
      width: 14rem;
    }

    .text_container_ab {
      font-size: 1.8rem;
    }
  }

  .second_content_ab {
    width: 50%;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white_main;
  }

  .second_content_ab .btn_accept_ab {
    font-size: 1rem;
    padding: 1rem 3rem;
    border-radius: 5rem;
    background-color: $blue_main;
    color: $white_main
  }

  .second_content_ab .description_ab {
    color: $blue_main;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 1rem;
  }


}
